<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
      <app-info [info]="info"></app-info>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">

      <ng-template *ngIf="probes.length">
        <h3><a href="#" (click)="isCollapsed = !isCollapsed"><img src="../assets/media/thermometer.svg" height="32" width="32" />Probes</a> <span *ngIf="probes[0].AlarmEnable" class="label label-danger">Alarm</span></h3>
        <div class="row" [ngbCollapse]="isCollapsed">
          <app-probe *ngFor="let probe of probes" [probe] = "probe"></app-probe>
        </div>
      </ng-template>

      <ng-template *ngIf="levelSensors.length">
        <h3><a href="#" (click)="isCollapsedLevelSensors = !isCollapsedLevelSensors"><img src="../assets/media/water_level.svg" height="32" width="32" />Level Sensors</a> <span *ngIf="levelSensors.AlarmEnable" class="label label-danger">Alarm</span></h3>
        <ng-container id="levelSensors" class="row" [ngbCollapse]="isCollapsedLevelSensors">
          <div *ngFor="let sensor of levelSensors">
            <app-level-sensor [sensor] = "sensor"></app-level-sensor>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>

