<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div [ngClass]="{'card panel-danger': sensor.AlarmState==='On', 'card panel-default': sensor.AlarmState!='On'}">
    <div class="card-header">
      <img *ngIf="sensor.Icon1" [src]="sensor.Icon1" height="32" width="32" />
      <img *ngIf="sensor.Icon2" [src]="sensor.Icon2" height="32" width="32" />
      {{ sensor.DisplayName }}
    </div>
    <div class="card-body">
      <h3 *ngIf="!sensor.HasTwoInputs" style="margin: 0; text-align: center">{{ sensor.Value }}</h3>
      <h3 *ngIf="sensor.HasTwoInputs" style="margin: 0px; text-align: center">1:{{ sensor.Value }} 2:{{ sensor.SecondSensor }}</h3>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div *ngIf="sensor.HasWaterChange">
            <button *ngIf="sensor.WaterMode === 'Ready'" type="button" class="btn btn-default btn-sm" (click)="startWaterChange()"><img src="../assets/media/water_change.svg" height="32" width="32" /> Water Change</button>
            <h5 *ngIf="sensor.WaterMode !== 'Ready'">Water Change: {{ sensor.WaterMode }}</h5>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <button *ngIf="sensor.AlarmState === 'On'" type="button" class="btn btn-default btn-sm" (click)="clearAlarm()" style="float: right">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
